@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

:root {
    --color-primary: #edf1fd;
    --color-secondary: rgb(18, 155, 155);
    --color-font: #454545;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
}

li {
    list-style: none;
    cursor: pointer;
}

a {
    text-decoration: none;
}

button {
    background-color: var(--color-secondary);
    cursor: pointer;
    padding: 0.5rem 1rem;
    border: 1px solid transparent;
    border-radius: 1rem;
    font-size: 1rem;
    color: #fff;
    font-weight: 600;
    width: fit-content;
    letter-spacing: 1px;
}

button:hover {
    background-color: white;
    color: var(--color-secondary);
    border: 1px solid var(--color-secondary);
}

.container {
    max-width: 90%;
    width: 80%;
    margin: 0 auto;
}

.navigation {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.fa-circle-user {
    font-size: 2rem;
    color: var(--color-secondary);
}

.nav-items {
    display: flex;
    gap: 30px;
    font-weight: 500;
    font-size: 1.2rem;
}

.nav-pill{
    color: var(--color-font);
}
.nav-pill:hover {
    text-decoration: underline;
}

.search-field {
    border-radius: 50px;
    padding: 0.5rem 1rem;
    border: 1px solid var(--color-secondary);
    font-size: 1rem;
}

.hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-left-section {
    width: 60%;
}

.hero-left-section h1 {
    font-weight: 800;
    font-size: 38px;
    margin-bottom: 16px;
    color: var(--color-font);
}

.hero-left-section h1 span {
    background-color: #dfdfe0;
    color: var(--color-secondary);
    font-weight: 900;
    padding: 0 15px;
}

.hero-left-section p {
    font-size: 500;
    font-size: 1.5rem;
    color: var(--color-font);
}

.hero-left-section p span {
    color: var(--color-secondary);
    font-weight: 700;
}

.hero-right-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 27%;
    gap: 30px;

}

.hero-right-section-div{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.hero-right-section img {
    height: 300px;
    width: 300px;
    border-radius: 50%;

}
.hero-right-section-btn{
    display: flex;
    align-items: center;
}

.footer{
    display: flex;
    justify-content: space-between;
}
 .footer p{
    font-size: 1.2rem;
    color: var(--color-font);
}
.footer ul{
    display: flex;
    gap: 4rem;
}
.footer .fa-brands{
    font-size: 1.7rem;
    display: inline-block;
    color: var(--color-secondary);
}